
<h1>貸出一覧</h1>
<table>
    <thead>
        <tr>
            <th>貸出日</th>
            <th>利用者</th>
        </tr>
    </thead>
<tbody>
    <% @book.rentals.each do |rental| %>
        <tr>
            <td>貸出日<%= rental.rental_date %></td>
            <td>by <%= rental.user.name %></td>
        </tr>
    <% end %>
</tbody>
</table>
