<h1>Practice page for Bootstrap</h1>
<p>このページでbootstrapの実装の練習をする</p>

<div class="container">
  <div class="row mx-lg-n5">
    <div class="col-6 border bg-light">col</div>
    <div class="col border bg-light">col</div>
    <div class="w-100"></div>
    <div class="col-8 border bg-light">col</div>
    <div class="col border bg-light">col</div>
    <div class="w-100"></div>
    <div class="col border bg-light">col</div>
    <div class="col border bg-light">col</div>
    <div class="col border bg-light">col</div>
    <div class="col border bg-light">col</div>
    <div class="w-100"></div>
    <div class="col border bg-light">col</div>
    <div class="col border bg-light">col</div>
    <div class="col border bg-light">col</div>
  </div>
</div>

<div class="container">
  <div class="row align-items-end">
    <div class="col border bg-light">
      One of three columns
    </div>
    <div class="col border bg-light">
      One of three columns
    </div>
    <div class="col border bg-light">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col border bg-light">
      One of three columns
    </div>
    <div class="col border bg-light">
      One of three columns
    </div>
    <div class="col border bg-light">
      One of three columns
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col border bg-light">
      hello
    </div>
    <div class="col border bg-light">
      hello
    </div>
    <div class="col border bg-light">
      hello
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col align-self-start border bg-light">
      One of three columns
    </div>
    <div class="col align-self-center border bg-light">
      One of three columns
    </div>
    <div class="col align-self-end border bg-light">
      One of three columns
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-4 border bg-light">
      One of two columns
    </div>
    <div class="col-4 border bg-light">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 border bg-light">
      One of two columns
    </div>
    <div class="col-4 border bg-light">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4 border bg-light">
      One of two columns
    </div>
    <div class="col-4 border bg-light">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4 border bg-light">
      One of two columns
    </div>
    <div class="col-4 border bg-light">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4 border bg-light">
      One of two columns
    </div>
    <div class="col-4 border bg-light">
      One of two columns
    </div>
  </div>
</div>

<h1>h1. Bootstraa heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>

<a class="h1">h1. Bootstraa heading</a>
<a class="h2">h2. Bootstraa heading</a>
<a class="h3">h3. Bootstraa heading</a>
<a class="h4">h4. Bootstraa heading</a>
<a class="h5">h5. Bootstraa heading</a>
<a class="h6">h6. Bootstraa heading</a>

<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>

<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>

<p><abbr title="はてなマーク">attr</abbr></p>
<p><abbr title="私の名前は北村能活です。" class="initialism">HTML</abbr></p>

<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>

<blockquote class="blockquote text-right">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<ul class="list-unstyled">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>

<ul class="list-inline">
  <li class="list-inline-item">Lorem ipsum</li>
  <li class="list-inline-item">Phasellus iaculis</li>
  <li class="list-inline-item">Nulla volutpat</li>
</ul>


<dl class="row">
  <dt class="col-sm-3">Description lists</dt>
  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

  <dt class="col-sm-3">Euismod</dt>
  <dd class="col-sm-9">
    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
    <p>Donec id elit non mi porta gravida at eget metus.</p>
  </dd>

  <dt class="col-sm-3">Malesuada porta</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

  <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

  <dt class="col-sm-3">Nesting</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-4">Nested definition list</dt>
      <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
    </dl>
  </dd>
</dl>

<pre class="pre-scrollable"><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>

<pre>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</pre>



<p><img src="/assets/宇宙画像_2.jpeg" class="img-thumbnail" alt="宇宙の画像"></p>
<p><img src="/assets/宇宙画像_1.webp" class="img-thumbnail" alt="宇宙の画像"></p>

<p><%= image_tag '宇宙画像_2.jpeg', class: 'img-thumbnail' %></p>
<p><%= image_tag '宇宙画像_1.webp', class: 'img-thumbnail' %></p>

<p><img src="/assets/宇宙画像_2.jpeg" class="rounded float-left" alt="宇宙の画像"></p>
<p><img src="/assets/宇宙画像_1.webp" class="rounded float-right" alt="宇宙の画像"></p>

<table>
    <tr>
        <td>北村</td>
    </tr>
    <tr>
        <td>北村</td>
    </tr>
    <tr>
        <td>北村</td>
    </tr>
</table>

<table class="table table-hover">
  <caption>List of users</caption>  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<figure class="figure">
  <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 400x300"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
  <svg width="100" height="100">
    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
  </svg>
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>